body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, rgb(1, 179, 179), rgb(0, 24, 158));
}

.principal{
    background:rgba(0, 0,0, 0.9) ;/* 0.8 é a transpararência  */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 5px;
    color: white;
    
}

a{
    color: green;
    text-align: center;
    margin-left: 70px;
    
}

Input{
    padding: 15px;
    border: none;
    outline:none;
    color: black;
}

button{
    border: none;
    padding: 15px;
    background: dodgerblue;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;

}
button:hover{
    background: deepskyblue;
    cursor: pointer;
}